.cart-container{
    width: 80%;
    display: flex;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}

.cart-product-image>img{
width: 100%;
}


.cart-product-name{
    margin-bottom: 21px;
}
